<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    
</head>
<body>
    <h1>Todo List</h1>
    <div class="form-container">
        <form action="{{ url_for('add') }}" method="POST">
            <input type="text" name="todo" placeholder="Enter a new task" required>
            <button type="submit">Add Task</button>
        </form>
    </div>
    <div class="todo-list">
        <h2>Tasks</h2>
        <ul>
            {% for todo in todos %}
            <li>
                <span class="{{ 'done' if todo.done else '' }}">{{ todo.task }}</span>
                <a href="{{ url_for('check', id=todo.id) }}">✔</a>
                <a href="{{ url_for('edit', id=todo.id) }}">✏</a>
                <a href="{{ url_for('delete', id=todo.id) }}">🗑</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
