<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Leaderboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <body class="leaderboard-page">
  <h1>Leaderboard</h1>

  <table border="1">
    <tr>
      <th>Rank</th>
      <th>Username</th>
      <th>High Score</th>
    </tr>

    {% for score in high_scores %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ score.username }}</td>
        <td>{{ score.high_score }}</td>
      </tr>
    {% endfor %}
  </table>

  <a href="/play_game">Back to Game</a>
</body>
</html>
